.inscription-body{
  margin-top: 158px;
  display: flex;
  justify-content: center; /* Centre horizontalement */
  align-items: center; /* Centre verticalement */
  min-height: 100vH;
}
.form-register {
  padding: 30px 50px;
  width: 50%;
  background-color: #c1958e6e;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin: auto;
  overflow-y: auto; /* Ajoute une barre de défilement verticale si le contenu dépasse la hauteur maximale */
  color: indianred;
}
.form-register h1{
  color:white;
  margin-bottom: 10px;
  text-align: center; /* Centre le titre */

}

.group {
  margin-bottom: 15px;
}

label {
  display: block;
  font-size: 16px;
  color: white;
  margin-bottom: 5px;
}

input {
  width: 100%;
  padding: 8px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
cancel-button{

}
