header {
  /*background-color: #d4acac;*/
  /*background-color: #d4afa5;*/
  background-color: #d3aea5;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  position: fixed; /* Le header reste fixe en haut */
  top: 0; /* Collé au haut de la fenêtre */
  left: 0; /* Commence à gauche */
  width: 100%; /* Prend toute la largeur de l'écran */

}





a {
  text-decoration: none;
}
nav {
  display: flex;
  gap: 30px;
  justify-content: space-between;
  align-items: center;
  padding-right: 20px;

}

.logo {
  width: 150px;
}

.navlinks {
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: space-around;
  flex-grow: 2;
  padding-right: 10px;

}

ul {
  list-style: none;
}

.link a:link, .link a:visited, .link a:hover {
  color: white;

  font-size: 23px;
}

.link a {
  transition: transform 1s ease-out;

}



.link {
  position: relative;
}

.link::after {
  content: "";
  font-weight: bold;
  background-color: white;
  width: 0%;
  height: 2px;
  position: absolute;
  left: 0;
  bottom: 0;
  transition: width 1s ease-in;
}

.link:hover::after {
  width: 100%;
}


.iconlinks {
  display: flex;
  gap: 20px;
}
