body {
  margin: 0;
  padding: 0;
}

.home {
  background-image: url('/../assets/image1.webp');
  background-size: cover;
  background-position: top;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  padding: 0 10%;
  box-sizing: border-box;
}

.text {
  max-width: 800px;
  font-family: Arial, sans-serif;

}

.text h1 {
  font-size: 60px;
  font-weight: 400;
  line-height: 1.2;
  color: #fff;
  margin-bottom: 20px;
}

.text p {
  font-size: 22px;
  line-height: 1.8;
  letter-spacing: 0.8px;
  color: #fff;
  text-shadow: 2px 2px 5px rgb(87, 65, 64);
  margin-bottom: 30px;
}

.text a {
  display: inline-block;
  font-size: 1.2rem;
  text-decoration: none;
  border: 2px solid #d4afa5;
  color: #fff;
  text-shadow: 2px 2px 5px rgb(87, 65, 64);
  background-color: transparent;
  padding: 12px 25px;
  border-radius: 30px;
  transition: all 0.3s ease-in-out;
}

.text a:hover {
  background-color: #d4afa5;
  color: #2c1e1d;
  transform: scale(1.05);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}
