body {
  margin: 0;
  padding: 0;
}

.home {
  background-image: url('/../assets/image1.webp');
  background-size: cover;
  background-position: top;
  min-height: 100vh; /* Assure que la div occupe tout l'écran */
  margin-top: 154px;

}

.text.home-page {
}
.text h1 {
  margin-left: 25%;
  font-size: 75px;
  line-height: 2;
  color: #ffffff;
}

.text p {
  margin-left: 7%;
  text-align: justify;
  font-size: 28px;
  line-height: 2.5;
  letter-spacing: 1px;
  color: #634a49;
  font-weight: bold;
}

.text a {
  margin-left: 7%;
  display: inline-block;
  text-decoration: none;
  font-size: 1.25rem;
  font-weight: bold;
  border: 2px solid #634a49;
  color: #ffffff;
  padding: 10px 20px;
  margin-right: 30px;
  margin-top: 30px;
  border-radius: 10%;
}

.text a:hover {
  color: #d4afa5;
  background-color: #ffffff;
  font-weight: 600;
}
