<div class='text home-page'>
  <h1> Bienvenue dans Rent Dress !</h1>
  <p> Découvrez une collection exquise de robes pour toutes les occasions avec notre service de location de robes.
    <br>
    Un mariage, une soirée, cherchez vous la robe de vos rêves ?
    <br>
    Pour une seule journée, des bons petits prix
    Vous êtes au bon endroit !
    <br>
    Offrez-vous la possibilité de briller à tout vos événements de manière responsable
  </p>
  <a routerLink="/dress"  class="dress">Nos robes</a>
</div>

